<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="assets/pics/landing.png"/>
    <ion-title class ="landing-title">
      Unlock Your Imagination,
      <span class="second-line">Create Your Own Ending.</span>
    </ion-title>
  </div>

  <ion-fab vertical="bottom" horizontal="end" style ="margin-bottom:30px ;">
    <ion-fab-button [routerLink]="['../../auth/login']">
      <ion-icon name ="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>