<ion-content [fullscreen]="true" >
  <div class="header" >
    <h1>Hello</h1>
    <ion-avatar>
      <img src="assets/pics/male-child.png" alt="child">
    </ion-avatar>
  </div>

  <ion-button [routerLink]="['/addcategory']"> Add Category</ion-button>
  
  <div class="categories">
    <app-category-item *ngFor="let category of categories" [category]="category"(click)="selectCategory(category)"></app-category-item>
  </div>

  <div *ngIf="selectedCategory">
    <ion-button (click)="editCategory(selectedCategory)">Edit</ion-button>
    <ion-button color="danger" (click)=" selectedCategory.id ? deleteCategory(selectedCategory.id) : null">Delete</ion-button>
  </div>

</ion-content>
