ion-content{
    --padding-start: 2rem;
    --padding-end: 2rem;
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      margin-bottom: 1rem;
      margin-top: 2rem;
      h1{
        font-size: 3rem;
        font-weight: 600;
        color: #515151;
        margin: 0;
      }
    }
  }
ion-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #00b9b3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  img{
    width: 90%;
    height: 90%;
  }
}

.categories{
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}