<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>storyedit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="storyForm" (ngSubmit)="saveChanges()">
    <ion-item>
      <ion-label position="stacked">Story Title</ion-label>
      <ion-input formControlName="title" placeholder="Enter category name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Content</ion-label>
      <ion-textarea formControlName="content" placeholder="content"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select formControlName="categoryId" placeholder="Select Category">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="storyForm.invalid">Save Changes</ion-button>
  </form>
  
</ion-content>
