@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/gilroy-regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/gilroy-semi-bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/gilroy-bold.ttf);
    font-weight: 700;
}