ion-content{
    --padding-start: 2rem;
    --padding-end: 2rem;
}

.list-header{
    font-weight: 700;
    color: #515151;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    margin-top: 2rem;
}

.story-list{
    margin-left: 20%;
    display: grid;
    grid-gap: 1rem;
}

ion-button{
    --box-shadow:none;
    --border-radius: 1.8rem;
    --background: #00b9b3;

    text-transform: intial;
    font-size: 1.2rem;
    font-weight: 600;
    height: 70px;
}