<ion-content [fullscreen]="true">
  <div>
    <ion-title>Join KiddoTales and Start Your Journey!</ion-title>
    <p>Create an acoount to unlock magical stories.</p>
  </div>

  <form (ngSubmit)="register()">
    <div>
      <ion-item>
        <ion-input placeholder="First Name" [(ngModel)]="firstName" name="firstName" required></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Last Name" [(ngModel)]="lastName" name="lastName" required></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Phone Number" [(ngModel)]="phone" name="phone" required></ion-input>
        <ion-icon name="call-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="gender" name="gender" required placeholder="Your Gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </ion-item>     
      <ion-item>
        <ion-input placeholder="Email" [(ngModel)]="email" name="email" required type="email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" [(ngModel)]="password" name="password" required type="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input  placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required type="password" ></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>
    
    <div>
      <ion-button type="submit" expand="block">Register</ion-button>
    </div>
  </form>
</ion-content>
